<%= f.error_messages %>

<div class="row"><label for="employee_first_name" class="required-field">Vardas</label><span
 class="formw"><%= f.text_field :first_name %></span></div>

<div class="row"><label for="employee_last_name" class="required-field">Pavardė</label><span
class="formw"><%= f.text_field :last_name %></span></div>

<div class="row"><label for="employee_occupation">Pareigos</label><span
class="formw"><%= f.text_field :occupation %></span></div>

<div class="spacer">&nbsp;</div>
