<%= error_messages_for 'account' %>

<div class="row"><label for="account_number" class="required-field">Sąskaitos numeris</label><span
class="formw"><%= f.text_field 'number' %></span></div>
<div class="spacer">&nbsp;</div>
